mixin card(text, img, name, job)
    .card
        p.card__text= text
        .card__info
            img(src=`assets/images/${img}`, alt="").card__img
            .card__profile
                p.card__name= name
                p.card__job= job