.mainMenu {
    @include reset-list;
    display: flex;
    gap: 1rem;
    text-decoration: none;
    font-size: .76rem;
    font-family: var(--header-font);
    @include tablet {
        gap: 2rem;
        font-size: .9rem;
    }
    @include desktop {
        gap: 4rem;
        font-size: 1rem;
    }
}

.mainNav__link {
    text-decoration: none;
    color: var(--white-color);
    @include desktop {
        &:hover {
            font-weight: 700;
            text-decoration: underline;
        }
    }
}