.section-two {
    text-align: left;
    padding-bottom: 10rem;
    @include desktop {
        display: flex;
        gap: 3rem;
        margin: 0 7rem;
        align-items: center;
        padding-bottom: 5rem;
    }
    &-data {
        @include tablet {
            width: 450px;
        }
        @include desktop {
            width: 600px;
        }
        
    }

    &-img {
        width: 100%;
        margin-top: 4.5rem;
        margin-bottom: 2.5rem;
        @include tablet {
            display: block;
            width: 80%;
            margin-right: auto;
            margin-left: auto;
            margin-top: 12rem;
        }
    }
    &-title {
        font-size: 1.1rem;
        @include tablet {
            margin-top: 4rem;
            font-size: 1.7rem;
        }
        @include desktop {
            font-size: 2.5rem;
            width: 400px;
        }
    }
    &-text {
        font-size: .85rem;
        margin: 1.5rem 0;
        @include tablet {
            font-size: .95rem;
        }
        @include desktop {
            font-size: 1.05rem;
        }
    }
    &-link {
        text-decoration: none;
        font-size: .85rem;
        color: var(--cyan-color);
        border-bottom: 1px solid var(--cyan-color);
        padding-bottom: .3rem;
        @include tablet {
            font-size: .9rem;
        }
        @include desktop {
            font-size: 1rem;

            &:hover {
                color: var(--white-color);
                border-bottom: 1px solid var(--white-color);
            }
        }
    }
    &-arrow {
        margin-left: .5rem;

        @include desktop {
            &:hover {
                filter: brightness(100);
            }
        }
    }
}